.App {
    text-align: center;
}

.block {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    position: relative;
    transition: 0.3s all;
    border: 0;
}


.block:focus {
    border: 0;
}

.block-wrap:hover {

}
