.App {
    text-align: center;
    font-size: large;
}

* {
    color: #333333;
}

/* Block */
.block {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    position: relative;
    transition: 0.3s all;
    border: 0;
}

.block:focus {
    outline: none;
}

/* Add block button */
.add-block-button {
    margin: 10px 10px;
    font-size: x-large;
    color: #c3c3c3;
    visibility: hidden;
    height: 20px;
    width: 20px;
    padding-bottom: 40px;
}

.add-block-button:hover {
    background-color: #efefef;
    border-radius: 4px;
}



*:focus {
    outline: 0 !important;
}

.block-wrap:hover > .add-block-button{
    visibility: visible;
}

.block-wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: -10px;
}

/* Text Style */
.header-zero {
    font-size: xxx-large;
    font-weight: bold;

}

.root-page-block > .DraftEditor-root > .public-DraftEditorPlaceholder-root {
    font-size: xxx-large;
}
