.dropdown-menu {
    width: 350px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 15px #d9d8d8;
    border-radius: 4px;
    border: 1px solid #efefef;
    z-index: 10;
}

.dropdown-option {
    display: flex;
    padding: 2px 12px;
    align-items: center;
}

.dropdown-option:hover {
    background-color: #efefef;
}

.option-img {
    width: 48px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #efefef;
}

.option-img {
    margin: 2px
}

.option-description > div {
    text-align: left;
    padding-left: 8px;
}

.option-title {
    color: #515151;
}

.option-detail {
    color: #ABABAB;
}
