.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    flex: 1;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.public-DraftEditorPlaceholder-root > * {
    color: #ABABAB;
}

.simple-editor {
    flex: 1;
}

.inline-toolbar-button-wrapper {
    color: #333333;
    height: 100%;
    width: 25%;
    padding-top: 2px;
}

.inline-toolbar-button-wrapper:hover {
    background-color: #efefef;
}

.inline-toolbar-button > svg {
    fill: #515151;
    width: 18px;
    stroke-width: 1;
}

.inline-toolbar-button > svg > * {
    stroke-width: 1;

}

.inline-toolbar {
    box-shadow: 2px 2px 15px #e3e3e3;
    width: 120px;
    border-radius: 4px;
    height: 30px;
    border: 1px solid #e3e3e3;
    z-index: 3;
    position: absolute;
}

.inline-toolbar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



