.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    flex: 1;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.public-DraftEditorPlaceholder-root > * {
    color: #ABABAB;
}

.simple-editor {
    flex: 1;
    z-index: auto;
}
